@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/*Default style start*/

:root{
	--fontRubik: 'Rubik', sans-serif;
	--colorPrimary: #6E38F7;
	--colorSecondary: #95A1BB;
	--colorWhite: #ffffff;
	--colorBlack: #000000;
	--colorRubik: 'Rubik', sans-serif;
	--linkFont: 500 12px/20px var(--fontRubik);
	--titleFont: 500 58px/68px var(--fontRubik);
	--smallDescFont: 400 14px/22px var(--fontRubik);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fontRubik);
}

.container{
	width: 943px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

header.header{
	max-width: 1400px;
	margin: 0 auto;
}

button{
	cursor: pointer;
	line-height: 1.2;
}

nav.navbar{
	width: 100%;
	margin-top: 50px;
}

.navbar-box{
	width: 100%;
	height: 76px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}


.navbar-box .left-navs{
	display: flex;
	align-items: center;
	gap: 44px;
}

.navbar-box .left-navs .list{
	width: 357px;
	display: flex;
	justify-content: space-between;
}

.navbar-box .right-navs{
	width: 136px;
	display: flex;
	justify-content: space-between;
}
/*Default style end*/

/* HERO START*/

.hero{
	width: 100%;
	height: 674px;
	background: url(../img/hero-bg.svg) no-repeat;
	background-position: right 16px;
}

.hero-box{
	width: 100%;
	padding-top: 135px;
}

.hero-box h1{
	width: 344px;
}

.hero-box .buttons{
	margin-bottom: 36px;
	margin-top: 38px;
	display: flex;
	gap: 24px;
}

.hero-box .buttons button{
	width: 157px;
	height: 46px;
}

.hero-box > p{
	margin-bottom: 161px;
}
/* HERO END*/